body {
  background: #263238;
}

.bobon-page-content {
  padding: 20px;
  box-sizing: border-box;
}

.bobon-textfield-wrapper {
  padding: 0 10px;
  box-sizing: border-box;
  float: left;

  > .mdl-textfield {
    width: 100%;
  }
}

.bobon-main-content {
  width: 96%;
  margin: 0 auto;
}

.bobon-card {
  min-height: 100px;
}

.bobon-text-with-icon {
  position: relative;
  padding-left: 30px;

  .material-icons {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 0px;
  }
}