@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}


@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-ms-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-webkit-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-moz-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-ms-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-ms-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}
@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-ms-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-webkit-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-moz-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-ms-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-ms-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}


@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-ms-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-webkit-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-moz-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-ms-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-ms-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}


@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-ms-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-webkit-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-moz-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-ms-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-ms-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}



@-webkit-keyframes dashoffset {
  0% {
    stroke-dashoffset: 0
  }

  100% {
    stroke-dashoffset: -20px
  }

}

@-moz-keyframes dashoffset {
  0% {
    stroke-dashoffset: 0
                             
  }

  100% {
    stroke-dashoffset: -20px
                             
  }

}

@-ms-keyframes dashoffset {
  0% {
    stroke-dashoffset: 0
                             
  }

  100% {
    stroke-dashoffset: -20px
                             
  }

}

@keyframes dashoffset {
  0% {
    stroke-dashoffset: 0
  }

  100% {
    stroke-dashoffset: -20px
  }

}

@-webkit-keyframes bouncing-stroke {
  0%,100% {
    stroke-width: 5px
                        
  }

  50% {
    stroke-width: 10px
                        
  }

}

@-moz-keyframes bouncing-stroke {
  0%,100% {
    stroke-width: 5px
                        
  }

  50% {
    stroke-width: 10px
                        
  }

}

@-ms-keyframes bouncing-stroke {
  0%,100% {
    stroke-width: 5px
  }

  50% {
    stroke-width: 10px
  }

}

@keyframes bouncing-stroke {
  0%,100% {
    stroke-width: 5px
  }

  50% {
    stroke-width: 10px
  }

}

@-webkit-keyframes exploding-stroke {
  0% {
    stroke-width: 2px;
    opacity: 1
                   
  }

  100% {
    stroke-width: 20px;
    opacity: 0
  }

}

@-moz-keyframes exploding-stroke {
  0% {
    stroke-width: 2px;
    opacity: 1
  }

  100% {
    stroke-width: 20px;
    opacity: 0
  }

}

@-ms-keyframes exploding-stroke {
  0% {
    stroke-width: 2px;
    opacity: 1
  }

  100% {
    stroke-width: 20px;
    opacity: 0
  }

}

@keyframes exploding-stroke {
  0% {
    stroke-width: 2px;
    opacity: 1
  }

  100% {
    stroke-width: 20px;
    opacity: 0
  }

}

.ct-point {
  -webkit-animation: bouncing-stroke 1s ease-out infinite;
  -moz-animation: bouncing-stroke 1s ease-out infinite;
  -o-animation: bouncing-stroke 1s ease-out infinite;
  animation: bouncing-stroke 1s ease-out infinite;
  stroke-width: 8px;
  stroke-linecap: round;
}

.ct-line {
  stroke-width: 2px;
}